.schedule {
  position: relative;
}

.schedule h3,
.schedule p {
  color: var(--main-color);
}

.schedule p {
  /* Remove global p styling to not have to do this? */
  /* margin: 0.5em auto; */
}

.schedule::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--main-color);
  top: 0;
  bottom: 0;
}

.event {
  width: 50%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.event:not(:first-child) {
  margin-top: -3em;
}

.event:nth-child(even) {
  margin-left: auto;
}

.event_info {
  position: relative;
  padding: 1em 0;
  /* padding-bottom: 1em; */
}

.event_title {
  position: relative;
  font-size: 1.4rem;
  align-self: normal;
}

.event_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 30%;
  top: 50%;
  right: 0;
  background-color: var(--main-color);
}

.event_title::after {
  content: "";
  position: absolute;
  height: 0.75em;
  width: 0.75em;
  top: 50%;
  left: 70%;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 7px 7px 0px rgba(0, 0, 0, 0.4);
  background-color: var(--main-color);
  /* background-color: transparent; */
  border: 2px solid var(--main-color);
}

.event:nth-child(even) .event_title::after {
  left: revert;
  right: 70%;
}

.event:nth-child(even) .event_title::before {
  right: revert;
  left: 0;
}

.event_info::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  opacity: 0.5;
}

.schedule p {
  max-width: 50ch;
}

@media (max-width: 700px) {
  .schedule::after {
    content: none;
  }

  .event {
    width: 100%;
    padding: 1em 0;
  }

  .event:not(:first-child) {
    margin-top: 0;
  }

  .event_info {
    padding: 0 0 1em;
  }

  .event_title::before,
  .event_title::after {
    content: none;
  }
}
