:root {
  --main-border-radius: 0.5em;
}

input,
button,
select,
textarea {
  font: inherit;
}

label,
legend {
  font-weight: bold;
  padding: 0;
  margin-bottom: 0.5em;
}

input,
textarea {
  accent-color: var(--main-color);
  margin: 0;
}

input,
input:checked,
input:focus-visible,
textarea,
button {
  appearance: none;
  border: none;
  outline: none;
}

.rsvp_form {
  display: grid;
  gap: 1em;
  text-align: left;
  padding: 2em;
}

.validIcon {
  position: absolute;
  left: 100%;
  top: 50%;
  color: green;
}

.errorIcon {
  position: absolute;
  left: 100%;
  top: 50%;
  color: red;
}

.rsvp_button {
  background-color: var(--main-color);
  cursor: pointer;
  padding: 1rem 3rem;
  color: #fff;
  border: 0;
  font-weight: bold;
  font-size: 1rem;
  border-radius: var(--main-border-radius);
  justify-self: start;
  transition: background-color 250ms ease;
}

.rsvp_button:hover {
  background-color: color-mix(in srgb, var(--main-color) 80%, transparent);
}

.rsvp_button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.textarea__wrapper textarea {
  display: flex;
  flex-direction: column;
  resize: none;
  width: 100%;
}

/* New test starts */
.section_wrapper {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 1fr 0fr;
  transition: all 250ms ease;
  gap: 3em;
}

.section_wrapper.active {
  /* grid-template-columns: 2fr 1fr; */
  grid-template-columns: 1fr 1fr;
}

.name_container {
  display: grid;
  position: relative;
}

.name_container label {
  display: block;
}

.radio {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
}

.radio label {
  padding: 0.5em 1em;
  cursor: pointer;
  outline: 1px solid rgb(112, 112, 112);
}

.rsvp_form fieldset label:hover {
  outline: 2px solid var(--main-color);
}

label:has(input:checked) {
  background-color: var(--main-color);
  color: #fff;
  outline: 1px solid var(--main-color);
}

input[type="text"],
textarea {
  padding: 0.5em 0.75em;
}

.rsvp_form label:has(input:focus-visible),
textarea:focus-visible,
button:focus-visible,
input[type="text"]:focus-visible {
  border: none;
  outline: 2px solid red;
}

.food_pref {
  font-style: italic;
  width: 100%;
}

/* New test ends */

@media (max-width: 768px) {
  #main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section_wrapper {
    display: grid;
    grid-auto-flow: row;
    gap: 0;
  }

  .section_wrapper.active {
    grid-template-columns: auto;
  }
}

@media (max-width: 650px) {
  .form-rows {
    grid-template-columns: auto;
    width: auto;
  }
}
