.radio {
  display: flex;
}

.rsvpForm {
  text-align: left;
}

.form-rows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem 4rem;
  width: 600px;
}

.form-row {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-row input {
  border-radius: var(--main-border-radius);
  border: 1px solid #efefef;
  padding: 0.5rem 1rem;
}

.form-row input:focus {
  outline: 1px solid var(--input-focus-border-color);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.form-row input.valid {
  border: 1px solid green;
}

.form-row input.valid + span::after {
  content: "✓";
  position: absolute;
  right: -15px;
  top: 50%;
  width: 10px;
  height: 10px;
  color: green;
}

.form-row input.invalid {
  border: 1px solid red;
}

.form-row input.invalid + span::after {
  content: "✖";
  position: absolute;
  right: -15px;
  top: 50%;
  width: 10px;
  height: 10px;
  color: red;
}

.validIcon {
  /* content: "✖";
  position: absolute;
  right: -15px;
  top: 50%;
  width: 10px;
  height: 10px; */
  color: green;
}

.errorLogo {
  /* content: "✖";
  position: absolute;
  right: -15px;
  top: 50%;
  width: 10px;
  height: 10px; */
  color: red;
}

#password.error + span + .error-span::after {
  position: absolute;
  bottom: -20px;
  left: -5px;
  content: "*Passwords is not using the correct format";
  /* background-color: red; */
  color: red;
  padding: 0.75em;
  font-size: 0.625em;
}

#password-confirm.error + span + .error-span::after {
  position: absolute;
  bottom: -20px;
  left: -5px;
  content: "*Passwords do not match";
  /* background-color: red; */
  color: red;
  padding: 0.75em;
  font-size: 0.625em;
}

.form-row label {
  color: #000;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 0.875rem;
}

#button-row {
  position: absolute;
  top: 120%;
}

form button {
  background-color: var(--main-green);
  color: #fff;
  border: 0;
  padding: 1rem 3rem;
  font-weight: bold;
  font-size: 1rem;
}

button {
  cursor: pointer;
  border-radius: var(--main-border-radius);
}

.textarea__wrapper textarea {
  display: flex;
  flex-direction: column;
  resize: none;
  width: 100%;
}

@media (max-width: 768px) {
  #main {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 650px) {
  .form-rows {
    grid-template-columns: auto;
    width: auto;
  }
}
