.validIcon {
  position: absolute;
  left: 100%;
  top: 50%;
  color: green;
}

.errorIcon {
  position: absolute;
  left: 100%;
  top: 50%;
  color: red;
}

.section_wrapper {
  display: grid;
  grid-template-columns: 1fr 0fr;
  transition: all 250ms ease;
  grid-template-areas:
    "topLeft right"
    "botLeft right";
}

.section_wrapper.active {
  grid-template-columns: 1fr 1fr;
  column-gap: 3em;
}

.one {
  grid-area: topLeft;
}

.two {
  grid-area: botLeft;
}

.three {
  grid-area: right;
}

.food_pref {
  font-style: italic;
  width: 100%;
}

@media (max-width: 1000px) {
  #main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section_wrapper {
    display: grid;
    grid-auto-flow: row;
    gap: 0;
    grid-template-areas:
      "top"
      "mid"
      "bottom";
  }

  .section_wrapper.active {
    column-gap: 0;
    grid-template-columns: auto;
  }

  .one {
    grid-area: top;
  }

  .two {
    grid-area: bottom;
  }

  .three {
    grid-area: mid;
  }
}

@media (max-width: 650px) {
  .form-rows {
    grid-template-columns: auto;
    width: auto;
  }
}
