:root {
  --main-border-radius: 0.5em;
}

input,
button,
select,
textarea {
  font: inherit;
  /* margin: 0; */
}

label,
legend {
  font-weight: bold;
  padding: 0;
  margin-bottom: 0.5em;
}

input,
textarea {
  accent-color: var(--main-color);
  margin: 0;
}

input,
input:checked,
input:focus-visible,
textarea,
button {
  appearance: none;
  border: none;
  outline: none;
}

.rsvpForm {
  display: grid;
  gap: 1em;
  text-align: left;
  padding: 2em;
}

/* .form-rows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem 4rem;
  width: 600px;
}

.form-row {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-row input {
  border-radius: var(--main-border-radius);
  border: 1px solid #efefef;
  padding: 0.5rem 1rem;
}

.form-row input:focus {
  outline: 1px solid var(--input-focus-border-color);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.form-row input.valid {
  border: 1px solid green;
}

.form-row input.valid + span::after {
  content: "✓";
  position: absolute;
  right: -15px;
  top: 50%;
  width: 10px;
  height: 10px;
  color: green;
}

.form-row input.invalid {
  border: 1px solid red;
}

.form-row input.invalid + span::after {
  content: "✖";
  position: absolute;
  right: -15px;
  top: 50%;
  width: 10px;
  height: 10px;
  color: red;
} */

.validIcon {
  position: absolute;
  left: 100%;
  top: 50%;
  color: green;
}

.errorIcon {
  position: absolute;
  left: 100%;
  top: 50%;
  color: red;
}

#button-row {
  position: absolute;
  top: 120%;
}

form button {
  background-color: var(--main-color);
  color: #fff;
  border: 0;
  padding: 1rem 3rem;
  font-weight: bold;
  font-size: 1rem;
}

button {
  cursor: pointer;
  border-radius: var(--main-border-radius);
  justify-self: start;
  transition: background-color 250ms ease;
}

button:hover {
  background-color: color-mix(in srgb, var(--main-color) 80%, transparent);
}

.textarea__wrapper textarea {
  display: flex;
  flex-direction: column;
  resize: none;
  width: 100%;
}

/* Testing starts */
/* .form_group {
  display: flex;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: relative;
}

input:checked::before {
  content: "";
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  background-color: blue;
  border-radius: 50%;
} */
/* Testing ends */

/* New test starts */
.name_container {
  display: grid;
  position: relative;
}

.name_container label {
  display: block;
}

.radio {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
}

.radio label {
  padding: 0.5em 1em;
  cursor: pointer;
  outline: 1px solid rgb(112, 112, 112);
}

.rsvpForm label:hover {
  outline: 2px solid var(--main-color);
}

label:has(input:checked) {
  background-color: var(--main-color);
  color: #fff;
  outline: 1px solid var(--main-color);
}

input[type="text"],
textarea {
  padding: 0.5em 0.75em;
}

.rsvpForm label:has(input:focus-visible),
textarea:focus-visible,
button:focus-visible,
input[type="text"]:focus-visible {
  border: none;
  outline: 2px solid red;
}

/* New test ends */

@media (max-width: 768px) {
  #main {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 650px) {
  .form-rows {
    grid-template-columns: auto;
    width: auto;
  }
}
