.validIcon {
  position: absolute;
  left: 100%;
  top: 50%;
  color: green;
}

.errorIcon {
  position: absolute;
  left: 100%;
  top: 50%;
  color: red;
}

/* New test starts */
.section_wrapper {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 1fr 0fr;
  transition: all 250ms ease;
  grid-template-areas:
    "topLeft right"
    "botLeft right";
}

.section_wrapper.active {
  grid-template-columns: 1fr 1fr;
  column-gap: 3em;
}

.one {
  grid-area: topLeft;
}

.two {
  grid-area: botLeft;
}

.three {
  grid-area: right;
}

.name_container {
  display: grid;
  position: relative;
}

.name_container label {
  display: block;
}

/* .radio {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
}

.radio label {
  padding: 0.5em 1em;
  cursor: pointer;
  outline: 1px solid rgb(112, 112, 112);
}

.rsvp_form fieldset label:hover {
  outline: 2px solid var(--main-color);
}

label:has(input:checked) {
  background-color: var(--main-color);
  color: #fff;
  outline: 1px solid var(--main-color);
}

input[type="text"],
textarea {
  padding: 0.5em 0.75em;
}

.rsvp_form label:has(input:focus-visible),
textarea:focus-visible,
button:focus-visible,
input[type="text"]:focus-visible {
  border: none;
  outline: 2px solid red;
} */

.food_pref {
  font-style: italic;
  width: 100%;
}

/* New test ends */

@media (max-width: 1000px) {
  #main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section_wrapper {
    display: grid;
    grid-auto-flow: row;
    gap: 0;
    grid-template-areas:
      "top"
      "mid"
      "bottom";
  }

  .section_wrapper.active {
    column-gap: 0;
    grid-template-columns: auto;
  }

  .one {
    grid-area: top;
  }

  .two {
    grid-area: bottom;
  }

  .three {
    grid-area: mid;
  }
}

@media (max-width: 650px) {
  .form-rows {
    grid-template-columns: auto;
    width: auto;
  }
}
