.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

div + div {
  margin: 0;
}

.contact__wrapper .toastmadame_img {
  width: 300px;
  height: auto;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: auto;
  }
}
