p {
  margin: 0;
}

.home {
  width: 100%;
}

.heroImage {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center 36%;
  margin-bottom: 1.5em;
}

.section__one {
  padding: 5em;
}

.section__two {
  background-color: var(--main-green-alt);
  height: 400px;
}

.section__three {
  /* height: 500px; */
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.section__one p {
  /* font-size: 2.75rem; */
  max-width: 80ch;
  margin: 1em auto;
}

.first {
}

.second {
  margin-top: -0.5em;
}

.third {
  margin-top: -0.3em;
}

/* Below this is default styling */

.counter__wrapper {
  height: 100%;
}

.counter {
  font-size: 2em;
}

@media (max-width: 639px) {
  .home section {
    margin-top: 5rem;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .resource {
    color: #ccc;
    background-color: #161616;
  }
  .resource:hover {
    border: 1px solid #bbb;
  }
}
