p {
  margin: 0;
}

.heroImage {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center 36%;
  /* margin-bottom: 1.5em; */
  margin-bottom: 0;
  display: block;
}

.section:nth-child(even) {
  background-color: var(--main-green-alt);
  box-shadow: none;
  z-index: 0;
  /* height: 400px; */
}

h1,
h2,
h3,
h4 {
  font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
  .resource {
    color: #ccc;
    background-color: #161616;
  }
  .resource:hover {
    border: 1px solid #bbb;
  }
}
