p {
  margin: 0;
}

.home {
  width: 100%;
}

.heroImage {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center 36%;
  /* margin-bottom: 1.5em; */
  margin-bottom: 0;
}

section {
  padding: 3em 5em;
  position: relative;
  z-index: 2;
}

.section__one {
  /* padding: 5em; */
}

.section__two {
  background-color: var(--main-green-alt);
  box-shadow: none;
  z-index: 0;
  /* height: 400px; */
}

.section__three {
  /* height: 500px; */
}

h1,
h2,
h3,
h4 {
  font-size: 2rem;
}

.section__one p {
  /* font-size: 2.75rem; */
  max-width: 80ch;
  margin: 1em auto;
}

.first {
}

.second {
  margin-top: -0.5em;
}

.third {
  margin-top: -0.3em;
}

@media (max-width: 768px) {
  .heroImage {
    height: 200px;
  }

  section {
    padding: 3em 0;
  }
}

@media (prefers-color-scheme: dark) {
  .resource {
    color: #ccc;
    background-color: #161616;
  }
  .resource:hover {
    border: 1px solid #bbb;
  }
}
