p {
  margin: 0;
}

.home {
  width: 100%;
}

.section__one {
  padding: 5em;
}

.section__two {
  background-color: var(--main-green-alt);
  height: 400px;
}

.section__three {
  height: 500px;
}

h1 {
  font-size: 5rem;
  margin: 0;
}

.styled p {
  font-size: 2.75rem;
}

.first {
}

.second {
  margin-top: -0.5em;
}

.third {
  margin-top: -0.3em;
}

/* Below this is default styling */

img {
  margin-bottom: 1.5rem;
  width: 100%;
}

.counter {
  font-size: 2em;
}

@media (max-width: 639px) {
  .home section {
    margin-top: 5rem;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .resource {
    color: #ccc;
    background-color: #161616;
  }
  .resource:hover {
    border: 1px solid #bbb;
  }
}
