dialog {
  max-width: 60ch;
  padding: 1em 2em;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  position: relative;
}

.modal::backdrop {
  background: hsl(0 0% 0% / 50%);
  backdrop-filter: blur(3px);
}

.modal {
  & button {
    padding: 1rem 3rem;
    font-weight: bold;
    font-size: 1em;
    border-radius: var(--main-border-radius);
    transition: background-color 250ms ease;
    width: 100%;
  }
}
