dialog {
  max-width: 60ch;
  padding: 3rem 2rem 2rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  position: relative;
}

.modal::backdrop {
  background: hsl(0 0% 0% / 50%);
  backdrop-filter: blur(3px);
}

/* .modal {
  button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
} */
