.header {
  /* position: relative; */
  /* box-shadow: 0px 0px 20px #87958cb3; */
}

.heroImage {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center 36%;
  /* margin-bottom: 1.5em; */
  margin-bottom: 0;
  display: block;
}

@media (max-width: 968px) {
  .heroImage {
    height: 300px;
  }
}
