.header {
  /* background-color: var(--main-green); */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: sticky;
  /* border-bottom: 2px solid var(--main-green); */
}

/* .sticky {
  position: sticky;
  top: 0;
} */

.header nav {
  display: flex;
  /* background-color: var(--main-green); */
  background-color: #fff;
}

.header a {
  /* color: #fff; */
  color: var(--main-color);
  text-decoration: none;
  padding: 1rem 0.75rem;
  text-transform: uppercase;
}

.header a.active {
  background-color: color-mix(in srgb, var(--main-color) 60%, transparent);
  color: #fff;
}

.header a:hover {
  /* background-color: #0008; */
  background-color: color-mix(in srgb, var(--main-color) 60%, transparent);
  color: #fff;
}

.toggleNav {
  display: none;
}

.heroImage {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center 36%;
  /* margin-bottom: 1.5em; */
  margin-bottom: 0;
  display: block;
}

@media (max-width: 768px) {
  .heroImage {
    height: 200px;
  }
}

@media (max-width: 640px) {
  .header {
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 0;
    right: 0;
    /* width: 0;
    transform: translateX(100%);
    transition: transform width 250ms ease-in; */
  }

  .header:has(nav.open) {
    /* width: 50%; */
  }

  .toggleNav {
    display: block;
    padding: 1em 2em;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1;
    align-self: flex-end;
    background-color: orange;
  }

  /* Nav slide-in from side */
  .header nav {
    flex-direction: column;
    position: fixed;
    top: 43px;
    right: 0;
    bottom: 0;
    width: 50%;
    transform: translateX(100%);
    transition: transform 250ms ease-in;
  }

  .header nav.open {
    transform: translateX(0);
  }
}
