.timeline {
  position: relative;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #333;
}

.event {
  width: 50%;
  position: relative;
}

.event::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 2px;
  background-color: #333;
}

.event:nth-child(odd) {
}

.event:nth-child(odd)::after {
  right: 0;
}

.event:nth-child(even) {
  margin-left: 50%;
}

.event:nth-child(even)::after {
  left: 0;
}
