:root {
  --timeline-height: 80px;
}

.timeline__container {
  position: relative;
}

.timeline {
  position: relative;
  height: var(--timeline-height);
  width: 100%;
  text-align: center;
  color: #446463;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 2px;
  width: 100%;
  background-color: #446463;
}

.event_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.event {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: var(--timeline-height);
}

.event::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -100%;
  width: 2px;
  height: 100%;
  background-color: #333;
}

@media (max-width: 500px) {
  .event_wrapper {
    flex-wrap: wrap;
  }
}
