h1 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em;
  text-align: left;
}

div + div {
  margin-top: 1em;
}

label span {
  display: inline-block;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  /* width: 250px; */
  box-sizing: border-box;
  border: 1px solid #999999;
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  border: none;
}

input:focus,
textarea:focus {
  border-color: black;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

fieldset {
  /* width: 250px; */
  box-sizing: border-box;
  border: 1px solid #999999;
}

.rsvp button {
  margin-top: 20px;
}

label {
  display: inline-block;
}

p label {
  width: 100%;
}
