.img_wrapper {
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity 250ms ease;
  }

  .img_text {
    position: absolute;
    z-index: 2;
    inset: 0;
    margin: 0;
    opacity: 0;
    text-align: center;
    align-self: center;
    transition: opacity 250ms ease;
  }

  &:hover::after,
  &:hover .img_text {
    opacity: 1;
  }
}
