@import url("https://fonts.googleapis.com/css2?family=Abel&family=Faustina:ital,wght@0,300..800;1,300..800&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rouge+Script&family=Tangerine:wght@400;700&display=swap");

.styled {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Below is default styling */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #222;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-green: #87958c;
  --main-green-alt: #c5d5cb;
  --main-blue: #9daeb7;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--main-green);
}

header nav {
  display: flex;
}

header a {
  color: #fff;
  padding: 1rem 0.75rem;
  text-decoration: none;
}

header a.active {
  background-color: #0005;
}

header a:hover {
  background-color: #0008;
}

header.sticky {
  position: sticky;
  top: 0;
}

header.sticky a {
  padding: 0.5rem 0.75rem;
}

main {
  flex: auto;
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 0px 20px #87958cb3;
  width: 100%;
}

@media (max-width: 639px) {
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: var(--main-green-alt);
  }
}
