@import url("https://fonts.googleapis.com/css2?family=Abel&family=Faustina:ital,wght@0,300..800;1,300..800&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rouge+Script&family=Tangerine:wght@400;700&display=swap");

/* .styled {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
} */

/* Below is default styling */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #222;
  background-color: var(--main-green-alt);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* --main-green: #87958c; */
  --main-green: rgb(135, 149, 140);
  --main-green-alt: #c5d5cb;
  --main-blue: #9daeb7;

  --main-color: var(--main-green);

  --font-titles: "Calligraffitti", cursive;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-titles);
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

body {
  margin: 0;
  padding: 1em;
}

#app {
  /* display: flex;
  flex: auto;
  align-items: center;
  justify-content: center; */
  margin: 0 auto;
  text-align: center;
  color: #333;
  background-color: #fff;
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
}

body.locked #app {
  display: flex;
  align-items: center;
}

/* Password verification form styling */

#verification_form {
  display: flex;
  flex-direction: column;
}

/* General form related styling */

:root {
  --main-border-radius: 0.5em;
}

input,
button,
select,
textarea {
  font: inherit;
}

label,
legend {
  font-weight: bold;
  padding: 0;
  margin-bottom: 0.5em;
}

input,
textarea {
  accent-color: var(--main-color);
  margin: 0;
}

input,
input:checked,
input:focus-visible,
textarea,
button {
  appearance: none;
  border: none;
  outline: none;
}

form {
  display: grid;
  gap: 1em;
  text-align: left;

  & > button {
    background-color: var(--main-color);
    cursor: pointer;
    padding: 1rem 3rem;
    color: #fff;
    border: 0;
    font-weight: bold;
    font-size: 1rem;
    border-radius: var(--main-border-radius);
    justify-self: start;
    transition: background-color 250ms ease;

    &:hover {
      background-color: color-mix(in srgb, var(--main-color) 80%, transparent);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  fieldset:has(input[type="radio"]) {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;

    label {
      padding: 0.5em 1em;
      cursor: pointer;
      outline: 1px solid rgb(112, 112, 112);

      &:hover {
        outline: 2px solid var(--main-color);
      }

      &:has(input:checked) {
        background-color: var(--main-color);
        color: #fff;
        outline: 1px solid var(--main-color);
      }

      &:has(input:focus-visible) {
        border: none;
        outline: 2px solid red;
      }
    }
  }

  input[type="text"],
  textarea {
    padding: 0.5em 0.75em;
  }

  textarea:focus-visible,
  button:focus-visible,
  input[type="text"]:focus-visible {
    border: none;
    outline: 2px solid red;
  }

  textarea {
    display: flex;
    flex-direction: column;
    resize: none;
    width: 100%;
  }
}

/* Counter */
.counter {
  font-size: 2em;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
  }
}
