.nav_links {
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  /* align-items: center;
  z-index: 3; */
}

@media (min-width: 641px) {
  .nav_links:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: var(--main-color);
    bottom: 0;
  }
}

.nav_links a {
  color: var(--main-color);
  text-decoration: none;
  padding: 1rem 0.75rem;
  text-transform: uppercase;
}

.nav_links a.active {
  /* background-color: color-mix(in srgb, var(--main-color) 60%, transparent);
  color: #fff; */
  font-weight: bold;
}

.nav_links a:hover {
  /* background-color: #0008; */
  background-color: color-mix(in srgb, var(--main-color) 60%, transparent);
  color: #fff;
}

.toggleNav {
  display: none;
}

@media (max-width: 640px) {
  body:has(.nav_menu.open) {
    /* margin: 0; */
    height: 100%;
    overflow: hidden;
    /* background-color: red; */
  }

  .toggleNav {
    /* display: block; */
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 1002;
    border: 2px solid #fff;
    background-color: var(--main-color);
    display: grid;
    grid-auto-flow: column;
    gap: 0.5em;
    place-items: center;
    padding: 0.25em;
  }

  .nav_menu.open .toggleNav {
    background-color: rgb(135, 149, 140, 0.6);
    backdrop-filter: blur(10px);
  }

  .nav_menu .nav_links {
    flex-direction: column;
    position: fixed;
    z-index: 1001;
    inset: 0;
    left: revert;
    width: 50%;
    justify-content: revert;
    padding-top: 5em;
    transform: translateX(100vw);
    transition: all 0.5s ease;
    background-color: rgb(135, 149, 140, 0.6);
    backdrop-filter: blur(10px);
  }

  .nav_menu.open .nav_links {
    transform: translateX(0);
  }

  .nav_menu .nav_links a {
    color: #fff;
  }

  /* Menu icon + animation start */
  #nav_icon3 {
    /* width: 60px;
    height: 45px; */
    width: 30px;
    height: 30px;
    position: relative;
    /* margin: 50px auto; */
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
  }

  #nav_icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  #nav_icon3 span:nth-child(1) {
    top: 4px;
  }

  #nav_icon3 span:nth-child(2),
  #nav_icon3 span:nth-child(3) {
    top: 14px;
  }

  #nav_icon3 span:nth-child(4) {
    top: 24px;
  }

  .nav_menu.open #nav_icon3 span:nth-child(1) {
    top: 14px;
    width: 0%;
    left: 50%;
  }

  .nav_menu.open #nav_icon3 span:nth-child(2) {
    transform: rotate(45deg);
  }

  .nav_menu.open #nav_icon3 span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .nav_menu.open #nav_icon3 span:nth-child(4) {
    top: 33%;
    width: 0%;
    left: 50%;
  }
  /* Menu icon + animation end */
}
